@page
@model inlämningsuppgift.Pages.Admin.Catagory.CatagoryAdminIndexModel
@{ string searchPlaceholder = "Search tours";}

<div class="container p-4">

    <div class="row w-100 p-3 searchfield-dark-static">
        <a class="btn btn-primary col-3" asp-page="/Admin/Catagory/createNew">Create new</a>
        <div class="col-8">
            <form>
                <partial name="./Shared/_SearchfieldPartial" model="searchPlaceholder" />
            </form>
        </div>

        <form>
            <button class="refresh-btn">
                <i class="fa-undo fa-2x icon col-1"></i>
            </button>
        </form>
    </div>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col"></th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody>

                @foreach (var catagory in Model.catagory)
                {
                    <tr>
                        <td class="align-middle"><h5 class="productName">@catagory.Name</h5></td>
                        <td><a asp-page="/Admin/Catagory/Edit" asp-route-id="@catagory.Id"><i class="fas fa-edit  edit-btn"></i></a></td>
                        <td>
                            <form method="post">
                                <input asp-for="catagoryToDeleteId" value="@catagory.Id">
                                <button class="border-0 bg-transparent cursor-pointer" type="submit"><i class="fas fa-times-circle  del-btn"></i></button>
                            </form>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

<link href="~/css/Admin/productAdminIndex.css" rel="stylesheet" />
