
.product {
    position:relative;
    width: 95%;
    margin: 0 auto;
    max-width: 1000px;

}


.product .sideImage {
    box-sizing:border-box;
        max-height:235px;
}

.product .overview{
    display:block;
    padding-top:3em;
    padding-right:7%;
    padding-left:7%; 
}

    .product .price {
        color:white;
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        height:auto;
        padding:1em;
        background-color: #01b3a7;
    }


.overview .title {
    font-weight: 500;
    letter-spacing: normal;
    font-size: 15px;
    margin: 0;
}

.overview .location {
    margin-bottom: .5em;
    font-size: .7em;
}

.overview .description {
    display: -webkit-box;
    letter-spacing: .025em;
    color: #9b9b9b;
    font-size: 10px;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.overview .icon {
    height: 13px;
    width: 13px;
}