




<div class="dropdown bg-transparent">
    <button class="btn dropdown-toggle editTools-icon rd-nav-link bg-transparent" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span>Admin</span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" asp-page="/Admin/Product/ProductAdminIndex">Manage Tours</a>
        <a class="dropdown-item" asp-page="/Admin/Catagory/CatagoryAdminIndex">Manage Catagories</a>
    </div>
</div>


<link href="~/css/Shared/EditTools.css" rel="stylesheet" />