
@model string  




    <div class="searchfield">
        <button class="searchBtn" type="button"><i class="fas fa-search"></i></button>
        <input class="searchInput" type="text" name="query" placeholder="@Model">
    </div>



<link href="~/css/Shared/searchfield.css" rel="stylesheet" />