





    <div class=" searchfield">
        <button class="searchBtn" type="button"><i class="fas fa-search"></i></button>
        <input class="searchInput" type="text" name="query" placeholder="Search tours">
    </div>



<link href="~/css/Shared/searchfield.css" rel="stylesheet" />