body {
    margin: 0;
    padding: 0;
}


.product-container{
    grid-gap:50px;
}



.catagory-section {
    background-color: #f7f7f7;
}

.catagory-container {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 20px;
}

.catagory-container .catagory{
    position:relative;
    bottom:3em;
}


.hero {
    background-image: url(/images/hero.jpg);
    width: 100vw;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
