@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="hero">



</div>






<div >

    <section class="catagory-section p-3">
        <div class="catagory-container">

            @foreach (var catagory in Model.catagoryList)
            {
                <partial name="/Pages/IndexView/Partials/_CatagoryPartial.cshtml" model="@catagory" />
            }
        </div>

        <div class="d-flex justify-content-center">
            <a class="border-bottom">Tours</a>
        </div>
    </section>

    <section>
                @foreach (var product in Model.productList)
                {
                <partial name="/Pages/IndexView/Partials/_ProductPartial.cshtml" model="@product" />
                }

    </section>

</div>




<link href="/css/Index/Index.css" rel="stylesheet" />