@page
@model inlämningsuppgift.Pages.TourPage.TourModel


<section class="section section-sm bg-default">
    <div class="container">
        <h3 class="oh-desktop"><span class="d-inline-block wow slideInDown">Hot Tours</span></h3>
        <div class="row row-sm row-40 row-md-50">

            @foreach (var product in Model.products)
            {
                <partial name="../Shared/_ProductPartial.cshtml" model="product" />
            }

        </div>
    </div>

    <a class="button button-black-outline button-ujarak" href="#">More tours</a>
</section>