
@model inlämningsuppgift.Models.CatagoryViewModel



<a href="#"class="catagory">


    <img class="background-img " src="/images/balloon.jpg" alt="Alternate Text" />

    <div class="overlay background-img"></div>

    <h5 class="title">@Model.Name</h5>
</a>




<link href="/css/catagory.css" rel="stylesheet" />