@model inlämningsuppgift.Models.ProductViewModel


<div class="product d-flex flex-sm-column flex-md-row border no-gutters p-0 mb-5">

    <div class="price">
        <span>@Model.price</span>
    </div>

    <div class="col-sm-12 col-md-6 sideImage">
        <img class="image-fit" src="https://malta.se/wp-content/uploads/2019/09/Bla-lagunen-Blue-Lagoon-Malta-800x533px.jpg" alt="Alternate Text" />
    </div>


    <div class="col-sm-12 col-md-6 overview">
        <h5 class="title"><a>@Model.Name</a></h5>
        <p class="location"><img class="icon" src="~/icons/pin.png" alt="Alternate Text" /> @Model.location</p>
        <p class="description">@Model.description</p>

        <a class="btn btn-primary" href="#">content</a>
    </div>



</div>


<link href="~/css/product.css" rel="stylesheet" />